.owl-carousel {
  max-width: 950px;
}

.owl-item {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.owl-dots button {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  outline: 0;
  display: inline-flex;
  justify-content: center;
}

.owl-dots button span {
  background: #dcdbdb;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  display: block;
}

.owl-dots button.active span {
  background: #f7ba05;
}

/* -----------------------------------------------
 commom
----------------------------------------------- */

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

html, body, div, span, h1, h2, p {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-weight: 500;
  font-family: Raleway, sans-serif;
}

body {
  line-height: 1;
  background-color: #fff;
}

ul {
  margin: 0;
  /* padding: 0; */
}

ol, ul, li {
  list-style: none;
}

h1 {
  font-size: 34px;
  text-transform: uppercase;
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 32px;
}

a {
  text-decoration: none;
  color: gray;
}

.f-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.b-w {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 80px 0 50px 0;
  margin-top: 160px;
  position: relative;
}

/* .seb::before {
  background-image: url(../images/background-top-grey-big.png);
  content: '';
  position: absolute;
  top: 0;
  left: 0px;
  height: 100px;
  width: 100%;
  background-size: 100vw 100%;
} */

/* .seb::after {
  background-image: url(../images/background-bottom-grey-big.png);
  content: '';
  position: absolute;
  left: 0px;
  height: 100px;
  bottom: 0;
  width: 100%;
  background-size: 100vw 100%;
} */

.section .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
}

main {
  padding-top: 80px;
  min-height: 241px;
}

/* -----------------------------------------------
  seb: structure-element-background
----------------------------------------------- */

.seb {
  position: relative;
  z-index: 2;
}

.seb.white {
  background-color: #fff;
}

.seb.grey {
  background-color: #efefef;
}

.seb::before, .seb::after {
  content: '';
  position: absolute;
  left: 0px;
  height: 100px;
  width: 100%;
  background-size: 100vw 100%;
}

.seb:before {
  top: 0px;
  transform: translateY(-100%);
  background-image: url('../images/background-top-grey-big.png');
}

.seb:after {
  bottom: 0px;
  transform: translateY(100%);
  background-image: url('../images/background-bottom-grey-big.png');
}

/* -----------------------------------------------
    header
----------------------------------------------- */

header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0 15px 0;
}

/* ----- header:main  ------*/

header .main {
  width: 100%;
  max-width: 1150px;
  padding: 0 25px 0 20px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.pi-icons {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.pi-icons .splitter {
  border: 1px solid #f3c332;
  margin: 0 10px;
  height: 30px;
}

.pi-icons .material-icons {
  font-size: 21px;
}

.menu-panel {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: white;
}

@media (min-width: 1150px) {
  header .menu-panel {
    display: flex!important;
  }
}

.menu-panel.show {
  display: block;
}

.menu {
  display: flex;
  margin-right: 25px;
}

.menu .link {
  font-size: 14px;
  margin: 0 15px;
  cursor: pointer;
  color: #2f2f2f;
}

.login-btn {
  padding-right: 8px;
  font-family: ariel;
  border: 1px solid #b7b5b1;
  text-transform: uppercase;
  padding: 10px;
  font-size: 14px;
  max-width: 250px;
  cursor: pointer;
}

.login-btn:hover {
  border: 1px solid black;
}

.menu-btn {
  display: none;
  width: 35px;
  margin: 10px 0px 10px 15px;
  cursor: pointer;
}

.menu-btn .icon {
  font-size: 35px;
  color: #333333;
}

/* ----- header:pi-panel  ------*/

header .pi-panel {
  display: none;
  width: 100%;
  max-width: 1150px;
  padding: 20px 25px;
}

.pi-panel .inner {
  padding: 75px 0 50px 0;
  background-color: #fff;
  display: flex;
  overflow: hidden;
}

.pi-panel .left {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.pi-panel .name {
  padding: 10px 0 35px 0;
  text-transform: capitalize;
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
}

.pi-panel .line {
  display: flex;
  /* align-items: center; */
  padding: 12px 0;
}

.pi-panel .line .icon {
  width: 30px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.pi-panel .line .icon.email {
  font-size: 23px;
}

.pi-panel .line .txt {
  margin-left: 10px;
  line-height: 25px;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 530px;
}

.pi-panel .address-line {
  display: flex;
  align-items: center;
}

.pi-panel .open-map {
  margin-left: 15px;
  color: #ffc107;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
}

.pi-panel .right {
  width: 340px;
  height: 234px;
  margin-left: 50px;
}

.pi-panel .profile-img {
  height: inherit;
  width: auto;
}

/* ---- header:open --------*/

.overlay {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background-color: #333;
  opacity: 0.7;
}

.overlay.show {
  display: block;
}

/* -----------------------------------------------
    home
----------------------------------------------- */

.home {
  position: relative;
  height: 90%;
  min-height: 550px;
  display: flex;
  justify-content: center;
}

.home .bg {
  position: absolute;
  left: 0px;
  bottom: 206px;
  width: 100%;
  height: 250px;
  background-repeat: repeat-x;
  background-position: bottom;
  /* ariel */
  background-image: url('../images/pixel-background-yellow.png');
}

.home .wrapper {
  display: flex;
  width: 1200px;
  align-items: center;
  justify-content: center;
}

.home .img-container {
  position: relative;
  height: 465px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  bottom: 14px;
}

.home .img-container .img {
  height: inherit;
  width: auto;
}

.home .txt-container {
  min-width: 535px;
  padding-left: 85px;
  display: flex;
  flex-direction: column;
  margin-top: -35px;
}

.home .subjects {
  display: none;
  margin-top: 40px;
}

.home .subjects.show {
  display: block;
}

.home .subjects .subject {
  display: table;
  padding: 2px 25px 2px 35px;
  background-color: #313131;
  color: #fff;
  font-size: 15px;
  text-transform: capitalize;
  transform: translateX(100px);
  margin-bottom: 10px;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 405px;
  text-overflow: ellipsis;
}

.home .subjects .subject {
  animation: on-load-text-appear 600ms forwards;
}

.home .subjects .subject:nth-child(2) {
  animation-delay: 200ms;
}

.home .subjects .subject:nth-child(3) {
  animation-delay: 400ms;
}

.home .subjects .subject:before {
  content: '';
  display: block;
  position: absolute;
  top: 13px;
  left: 14px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #fff;
}

@keyframes on-load-text-appear {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.subject .inner {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.teacher-name {
  display: flex;
  align-items: baseline;
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
  font-size: 97px;
  line-height: 100px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 405px;
  font-family: 'Pacifico', cursive;
  text-transform: inherit;
}

/* -----------------------------------------------
    about-me
----------------------------------------------- */

.about-me {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  line-height: 35px;
  color: gray;
  padding-top: 0;
}

.about-me .wrapper {
  flex-direction: column;
}

.about-me .txt-wrapper {
  padding: 25px;
  margin: 45px 0 70px 0;
  max-width: 750px;
  text-align: center;
}

.about-me .img-frame {
  max-width: 375px;
  margin: 0px 25px;
}

.about-me .img-frame img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 100%;
}

/* ------------------------------------------- */

/* Code                                      */

/* ------------------------------------------- */

.code {
  width: 100%;
  background: #efefef;
}

/* ------------------------------------------- */

/* footer                                      */

/* ------------------------------------------- */

footer {
  background-color: #403f3f;
}

footer.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 75px 0 35px 0;
  padding: 80px 0;
  margin-top: 134px;
}

footer h1 {
  color: white;
}

footer h2 {
  color: #f3c332;
}

footer .contact-icons {
  display: flex;
}

footer .contact-icons .icon {
  position: relative;
}

/* ------------------------------------------- */

/* copyright                                   */

/* ------------------------------------------- */

.copyright p {
  color: #464646;
  margin: 30px 0;
  display: flex;
  justify-content: center;
  display: flex;
}

.copyright .wrapper {
  width: 100%;
  display: flex;
  padding-left: 45%;
}

.tutorna {
  text-decoration: underline;
  color: gray;
  padding: 0 5px;
  cursor: pointer;
}