.home-page {
  height: 776px;
  width: 100%;
  display: flex;
  align-items: center;
}

nav {
  height: 110px;
  position: absolute;
  width: 100%;
  display: flex;
}

.widget-wrap .title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  width: 154px;
  justify-content: start;
  display: flex;
  color: white;
}

.logo {
  width: 230px;
  height: 100%;
  padding-left: 11.5%;
  flex: 1;
  display: flex;
  align-items: center;
}

.widget-wrap {
  width: 474px;
  height: 100%;
  padding-right: 15.5%;
}

.logo div {
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 72px;
  color: white;
}

.home-page .wrapper {
  padding-left: 11.5%;
  width: auto;
  height: 400px;
  display: flex;
}

.home-page .wrapper .title {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 60px;
  color: #FFFFFF;
  width: 58%;
  padding-top: 144px;
}

.shape {
  position: absolute;
  z-index: 0;
  bottom: -1;
  left: 0;
  width: 100%;
}

.img-wrapper {}

.gradiant {
  width: 100%;
  height: 990px;
  background: linear-gradient(100.69deg, #0093E9 -16.03%, #80D0C7 96.01%);
}