body {
  margin: 0;
  background: white;
}
.f-c {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  height: auto;
  width: auto;
}
.title-wrap {
  display: flex;
  flex-direction: column;
  .title {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 68px;
    color: #35a9e3;
  }
  .title-small {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 48px;
    word-spacing: 2px;
    color: #3c3c3c;
    width: 560px;
  }
}

.line {
  width: 319px;
  height: 6px;
  background: #22a3f3;
  border-radius: 4px;
}
.background {
  width: 100%;
  top: 0;
  z-index: -1;
  height: 100%;
}
