/* -----------------------------------------------
  Gallery
----------------------------------------------- */

.gallery {
  padding: 100px;
  background: #F2F5FA;
}

.gallery {
  .wrapper {
    .img-wrapper {
      width: 75%;
      margin: 0 auto;
    }
  }
}

.owl-controls.clickable {
  margin-top: 20px;

  .owl-page {
    span {
      background: #374446;
    }
  }
}

.owl-carousel {
  list-style: none;
  padding: 0;
}

.owl-item {
  li {
    display: flex;
    justify-content: center;

    img {
      display: block;
      width: 80%;
      height: auto;
    }
  }

}