/* -----------------------------------------------
 home
----------------------------------------------- */

nav {
  height: 89px;
  background: #40243E;
  justify-content: space-between;
  display: flex;
}

.pi-pannels {
  height: 100%;
  width: 235px;
  padding-left: 119px;
}


/*----------------------------------------------- */

.link-wrapper {
  height: 37px;
  width: 37px;
  border-radius: 50%;
  background: #664C63;
  margin-right: 12px;
}

.icons {
  height: 24px;
}


/*----------------------------------------------- */

.logo-wrapper {
  height: 100%;
  width: 262px;
}

.logo {
  font-family: 'Assistant', sans-serif;
  color: white;
  letter-spacing: 2px;
  font-size: 23px;
  cursor: pointer;
}


/* -----------------------------------------------
 home
----------------------------------------------- */

.home {
  width: 100%;
  height: 864px;
}

.home .wrapper {
  width: 1170px;
  display: flex;
  align-items: center;
}


/*----------------------------------------------- */

.txt-wrapper {
  height: 317px;
  width: 585px;
}


/*----------------------------------------------- */

.protfilio-btn {
  cursor: pointer;
  font-family: "Rubik", Sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: .1px;
  color: #fff;
  background-color: #d4265e;
  border-radius: 100px;
  width: 227px;
  height: 64px;
  transition: cubic-bezier(0, 0, 0.1, -0.17) 0.5s;
}

.protfilio-btn:hover {
  border: 2px solid white;
  background: transparent;
  transition-duration: 0.3s;
  transform: scale(1.015)
}


/* -----------------------------------------------
background
----------------------------------------------- */

.background-wrapper {
  height: 864px;
  position: absolute;
  z-index: -2;
  width: 100%;
}

.background {
  background-image: radial-gradient(at center center, #60425e 0%, #30142d 100%);
  height: 100%;
  width: 100%;
  z-index: -2;
  position: absolute;
}


/* -----------------------------------------------
about
----------------------------------------------- */

.about {
  height: 954px;
  width: 100%;
}