/* -----------------------------------------------
 header            
----------------------------------------------- */

body {
  margin: 0;
}

.container {
  height: 100%;
  width: 100%;
  background-image: radial-gradient(at center center, #60425e 0%, #30142d 100%);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-c {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* -----------------------------------------------
 modal            
----------------------------------------------- */

.modal {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 20;
}

.modal .wrapper {
  height: 500px;
  width: 450px;
  background: white;
  border-radius: 6px;
  position: relative;
}

.title-field {
  height: 100px;
}

.input-field {
  flex: 1;
  height: auto;
}

.title-field .title {
  font-family: 'Montserrat';
  font-size: 35px;
  letter-spacing: 2px;
  color: #D4265E;
}

.field-sign-in {
  width: 100%;
  height: auto;
  margin-top: 60px;
}

.field-sign-in .btn {
  width: 200px;
  height: 40;
  border-radius: 20px;
  background-image: linear-gradient(135deg, #a466ea 0%, #764ba2 100%);
  font-family: 'Montserrat';
  color: white;
  font-weight: bold;
  cursor: pointer;
}