/* -----------------------------------------------
/* modal            
----------------------------------------------- */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #7f7f7f;
    align-items: center;
    justify-content: center;
}

.backraund {
    width: 100%;
    height: 100%;
    position: absolute;
}

/* -----------------------------------------------*/

.show {
    display: flex;
}

.hide {
    display: none;
}

/* -----------------------------------------------
/* profile            
----------------------------------------------- */

.modal-wrapper {
    background-color: #ffffff;
    width: 700px;
    align-items: center;
    border-radius: 14px;
    position: relative;
    height: 404px;
    z-index: 2;
    box-shadow: 2px 4px 39px -1px rgb(68 68 68 / 97%);
}

.header {
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #dadce0;
    height: 65px;
    width: 700px;
    border-radius: 14px 14px 0px 0px;
}

.body {
    height: 72%;
    width: 700px;
}

.footer {
    align-items: center;
    background-color: #fff;
    border-top: 1px solid #dadce0;
    height: 49px;
    width: 700px;
    border-radius: 0px 0px 14px 14px;
}

/* -----------------------------------------------
/* rows    
----------------------------------------------- */

.row1 {
    display: flex;
    padding-top: 25px;
}

/* -----------------------------------------------
/* profile-image            
----------------------------------------------- */

.profile-wrapper {
    position: relative;
    z-index: 1;
    margin-left: 25px;
    padding-right: 23px;
}

.profile-img {
    width: 55px;
    height: 55px;
    border-radius: 100%;
}

.upload-icon {
    background: rgba(0, 0, 0, 0.26);
    border-radius: 50%;
    fill: white;
    right: 3px;
    opacity: 0;
    padding: 12px;
    position: absolute;
    top: 3px;
}

.upload-icon:hover {
    opacity: 1;
}

/* -----------------------------------------------
/* inputs            
----------------------------------------------- */

.inps-wrapper {
    margin: 0 46px;
}

.input {
    display: grid;
    margin: 17px;
    width: 202px;
}

.input input {
    border: 0px;
    background: transparent;
    font: inherit;
    color: inherit;
    border-radius: 3px;
    padding: 10px;
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
    transition: 0.2s ease;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    color: #8f8f8f;
    width: 191px;
    border: 0px;
    border-bottom: 1px solid rgb(230, 230, 230);
    border-radius: 0px;
}

.input input:focus {
    border-bottom: 1px solid #1a73e8;
    transition: 0.5s;
}

.input a {
    position: relative;
    margin-top: -25px;
    padding: 0 4px;
    left: 2px;
    color: black;
    pointer-events: none;
    user-select: none;
    width: max-content;
    height: max-content;
    background: transparent;
    transition: 0.2s ease;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
}

.input input:focus+a, .input input:valid+a {
    margin-top: -49px;
    left: -5px;
    font-size: 13px;
}

.input input:focus+a {
    color: #1a73e8;
}