/* -----------------------------------------------
Header
----------------------------------------------- */
.back-image-wrapper{
  z-index: -2;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
}
.back-image-wrapper img {
  width: 100%;
  filter: blur(2px);
  position: fixed;
}
.registration-container{
  width: 100%;
  height: auto;
  min-height: 450px;
  margin-top: 497px;
  background: white;
}
.step-title .num{
  font-size: 31px;
  color: #FF9022;
  padding: 5px;
}
.registration-wrapper{
  width: auto;
  margin-top: -150px;
}
.step .wrapper{
  transition: all .5s linear;

  background-color: #fff;
  border-radius: 0 0 6px;
  width: 590px;
  height: 0;
  display: none;
  border: 1px solid #f0f0f0;
  border-top: 0px solid #f0f0f0;

}
.step .wrapper.active{

  display: flex;
  height: 378px;
}

footer{
  background-color: #212329;
height: 150px;
width: 100%;
}

.btn{
  padding: 30px;
  background: black;
}
.step-title.active{
  border-radius: 6px 6px 0px 0px;
  border-bottom: 0px;
}