.home-page {
    display: flex;
    justify-content: center;
    .wrapper {
        flex-direction: column;
        justify-content: normal;
        align-items: center;
        padding-top: 100px;
        svg#img {
            transform: rotate(90deg);
            margin-bottom: 130px;
            cursor: pointer;
            transition: ease-in-out all 0.3s;
            padding: 12px;
            &:hover {
                margin-bottom: 115px;
            }
        }
        .img-wrap {
            height: auto;
            width: auto;
            flex: 1;
            flex-direction: column;
            margin-top: 36px;
            img {
                height: auto;
                width: 356px;
            }
        }
    }
}
