/*--------------------------------------------------
Header
--------------------------------------------------*/

.f-c {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*--------------------------------------------------*/

body {
    margin: 0;
}

/*--------------------------------------------------*/
.title {
    color: #06b39e;
    font-weight: 600;
    line-height: 1.5;
    font-size: 37px;
    font-family: "varela Round";
    direction: rtl;
    margin-bottom: 30px;
}
.git {
    display: none !important;
}
