/*--------------------------------------------------
Header
--------------------------------------------------*/

.f-c {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*--------------------------------------------------*/

body {
    margin: 0;
}

/*--------------------------------------------------*/
