@media screen and (max-width: 1600px) {
    .home-page {
        height: 955px;
        .wrapper {
            width: 1042px;
            .outer-wrap {
                .img-wrap {
                    width: 464px;
                }
                .titles-wrap {
                    h1 {
                        font-size: 54px;
                    }
                    .main-titles-wrap {
                        font-size: 46px;
                        div {
                            font-size: 46px;
                        }
                    }
                    h2 {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1372px) {
    .home-page {
        .wrapper {
            width: 900px;
            .outer-wrap {
                .img-wrap {
                    width: 434px;
                }
                .titles-wrap {
                    width: 284px;
                    h1 {
                        font-size: 50px;
                    }
                    .main-titles-wrap {
                        font-size: 42px;
                        div {
                            font-size: 42px;
                        }
                    }
                    h2 {
                        font-size: 15px;
                        width: auto;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1048px) {
    .home-page {
        .wrapper {
            padding: 0;
            width: 100%;
            .outer-wrap {
                flex-direction: column-reverse;
                .img-wrap {
                    width: 406px;
                }
                .titles-wrap {
                    margin-top: -50px;
                    margin-right: 0;
                    width: 460px;
                    align-items: center;
                    h1 {
                        text-align: center;
                    }
                    .main-title-wrap {
                        justify-content: center;
                        div {
                            text-align: center;
                        }
                    }
                    h2 {
                        text-align: center;
                        height: auto;
                        margin-bottom: 46px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 640px) {
    .socials {
        margin-left: 27px;
    }
    .home-page {
        .wrapper {
            .outer-wrap {
                .titles-wrap {
                    h1 {
                        font-size: 45px;
                    }
                    .main-title-wrap {
                        font-size: 45px;
                        div {
                            font-size: 45px;
                        }
                    }
                    h2 {
                        line-height: 25px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 591px) {
    .home-page {
        .wrapper {
            .outer-wrap {
                .titles-wrap {
                    h1 {
                        font-size: 43px;
                    }
                    .main-title-wrap {
                        font-size: 43px;
                        div {
                            font-size: 43px;
                        }
                    }
                    h2 {
                        width: 80%;
                    }
                }
                .img-wrap {
                    width: 69%;
                }
            }
        }
    }
}
@media screen and (max-width: 485px) {
    .home-page {
        .wrapper {
            .outer-wrap {
                .titles-wrap {
                    h2 {
                        width: 74%;
                        line-height: 23px;
                    }
                }
                .img-wrap {
                    width: 302px;
                }
            }
        }
    }
}
