/* -----------------------------------------------
chart    
----------------------------------------------- */

.chart-wrapper {
    flex-direction: column;
    border-radius: 15px;
    background: white;
    display: none;
    height: 600px;
    width: 451px;
}

.chart-icon-wrapper {
    display: none;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    cursor: pointer;
}

/* -----------------------------------------------
 chart-head            
----------------------------------------------- */

.chart-wrapper .chart-header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 31px;
    border-bottom: 1px solid lightgray;
    border-bottom-style: dotted;
}

.chart-icon-wrapper:hover {
    background: rgb(187, 187, 187);
}

/* -----------------------------------------------
 contant-body            
----------------------------------------------- */