/* -----------------------------------------------
chart    
----------------------------------------------- */

.chart-wrapper {
    flex-direction: column;
    border-radius: 15px;
    background: white;
    display: none;
    height: 600px;
    width: 200px;
}

.chart-wrapper.show_chart {
    display: flex;
}

/* -----------------------------------------------
 chart-head            
----------------------------------------------- */

/* -----------------------------------------------
 contant-body            
----------------------------------------------- */