/* -----------------------------------------------
 header            
----------------------------------------------- */

.table-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 13%;
}

.title {
    font-size: 16px;
    color: black;
    font-family: 'Quicksand', sans-serif;
}
.show_tbl,.show_chart{
    display: block;
}
.wrapper{
    min-width: 451px;
    min-height: 600px;
    background: white;
    border-radius: 15px;
}
/* -----------------------------------------------
 head            
----------------------------------------------- */

.table-wrapper .head {
    width: 900px;
    height: 50px;
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.value {
    padding-left: 306;
    color: #555;
}

.change {
    padding-left: 172;
    color: #555;
}

.name {
    color: #555;
}

/* -----------------------------------------------
 body            
----------------------------------------------- */

.table-wrapper .body {
    width: 900px;
    height: 231px;
    flex-direction: column;
}

.row {
    width: 900px;
    height: 45px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.row:hover {
    background: rgb(240, 240, 240);
}

.names {
    padding-left: 2px;
    font-size: 17;
    width: 343px;
    white-space: unset;
}

.change-wrapper {
    padding: 3;
    border-radius: 20%;
    position: relative;
    margin-left: 73px;
    width: 63px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.changes {
    color: white;
}

.change-wrapper.green {
    background: rgb(0, 180, 0);
}

.change-wrapper.red {
    background: red;
}

.values {
    width: 145px;
}