/* -----------------------------------------------
 header            
----------------------------------------------- */

.table-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: 16px;
    color: black;
    font-family: 'Quicksand', sans-serif;
}

/* -----------------------------------------------
 head            
----------------------------------------------- */

.head {
    width: 900px;
    height: 50px;
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.value {
    padding-left: 306;
    color: #555;
}

.change {
    padding-left: 172;
    color: #555;
}

.name {
    color: #555;
}

/* -----------------------------------------------
 body            
----------------------------------------------- */

.body {
    width: 900px;
    height: 200px;
    flex-direction: column;
}

.row {
    width: 900px;
    height: 45px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.names{
    padding-left: 2px;
    font-size: 17;
    width: 343px;
    white-space: unset ;
}
