nav {
  height: 90px;
  box-shadow: 0px 0px 50px #00000029;
  padding: 0 50px;
  justify-content: space-between;
  position: relative;
  display: flex; }

.widget-wrap {
  flex: 1;
  border: 1px solid;
  height: 100%;
  display: flex;
  align-items: center; }

.logo {
  width: 100px;
  height: 100%; }

.logo div {
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 72px;
  color: #26353a;
  cursor: pointer; }

.logo img {
  height: auto;
  max-width: 100%;
  width: 108px; }
